/* Font link  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway {
  font-family: 'Raleway', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.banner {
  border-radius: 32px;
  background: linear-gradient(
      180deg,
      rgba(3, 7, 18, 0.5) 0%,
      rgba(3, 7, 18, 0) 100%
    ),
    url('../images/banner.png'), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.secOne {
  background-image: url('../images/section\ one\ 1.svg');
}
.secTwo {
  background-image: url('../images/section\ one\ 2.svg');
}

/* class="seat w-[75px] sm:w-[100px] py-2 sm:py-3 bg-[#f7f8f8] rounded-lg sm:rounded-xl cursor-pointer hover:bg-primary hover:text-white */
/* <div class="flex justify-between gap-3 sm:gap-5 xl:gap-8"> */